/*|---------------| App Color Schema|---------------*/
$PRIMARY: #8a1a20;
$SECONDARY: #f72f39bc;
$TERTIARY: #ff4a53;
$WHITE: #ffff;
$NAVBAR: #ffff;
$TEXT: grey;
$BG-SECTION: #f72f39bc;

/*|---------------| Button global |---------------*/

/*|---------------| Ttile |---------------*/

/*|---------------| BREAKPOINTS|---------------*/
$BREAKPOINT-DESK-4K: 1800px;
$BREAKPOINT-DESK: 1280px;
$BREAKPOINT-TABLET-LAND: 975px;
$BREAKPOINT-TABLET: 768px;
$BREAKPOINT-MOBILE-LAND: 480px;

/*|---------------|MIXINS MARGING|---------------*/
@mixin margin-page {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@mixin padding-section {
  padding: 4em 0;
  margin: 0 auto;
}
