/*|---------------| App Color Schema|---------------*/
//Title
$primary60: #fc9f1c;
$secondary30: #2ec7b9;
$additoinal10: #fefde3;
$title: #114450;
$paragraphe: grey;

//NavBar
$bgNavBar: #2ec7b9;
$clrNavItems: white;

//Footer
$bgFooter: #114450;

/*|---------------| BreakPoint|---------------*/
$desktop4k: 1800px;
$desktop: 1280px;
$tabletLand: 975px;
$tablet: 768px;
$mobil: 480px;
